body {
    position: relative;
 }
 body:after {
    content: '';
    display: block;
    height: 50px; /* Set same as footer's height */
 }
 .category{
    width: 12%;
    text-align: center;
   
 }
 .title {
    display: inline-block;
 }
 img {
    size: 50
    
 }
 .tag{
    height: 1000px;
 }
 a.logo_homepage:link, a.logo_homepage:visited {
    text-align: center;
    text-decoration: none;
    display: inline-block;
 }
 a.tag:link, a.tag:visited {
    color: white;
    padding: 12px 10px;
    padding-top: 20px;
    text-align: center;
    text-decoration: none;
 }
 a.tag:hover, a.tag:active {
    background-color: rgb(211, 137, 0);
 }
 hr {
    display: block;
    margin-top: 10px;
    margin-bottom: 0.5em;
    border-width: 0.5px;    
    border-style: solid;
    border-color: grey
 }
 #content_posts{
    margin-left: 15%;
    margin-right: 15%;
    background-color: white
 }
 #title_posts{
    font-size: 36px;
 }
 #content{
    background-color: #ffd1b3;
 }
 #date{
    color: gray;
    margin-top: 10px;
    margin-bottom: 75px;
 }
 #quick_info{
    font-weight: bold;
    font-size: 25px;
 }
 #sign{
    font-weight: bold;
    font-size: 20px;
    text-align: right
 }
 
 
 p{
     font-size: 16px;
 }
 
 
 
 #footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #f0f0f0
 }
 
 #heading {
    background-color: orange; 
    text-align: center
 }