* {
    box-sizing: border-box;
  }




#content {
    display: flex;
    flex-flow: row wrap;
}

.content {
    width: 45%;
    display: inline-block;
    float: left;
    justify-content: space-evenly;
    margin: 10px;
    background-color: #ffebcc;
    height: 208px;
    
}

.picture{
    float: left;
}

.changepage{
    width: 50%;
    background-color: #ffebcc;
    border: none;
    cursor: pointer;
    font-size: 20px;
    text-align: left;
}
.changepage:hover{
    color: orange;
}
.description{
    font-size: 20px;
    overflow: hidden;
    background-color: #ffebcc;
    height: 67px;
    width: 280px;
    text-overflow: ellipsis;

}
/*  css của nut chuyển trang */
#pagechanger{
    text-align: center;
    color: orange;
    font-size: 20px;
    margin-bottom: 15px;
}
.page_button{
    background-color: orange;
    height:50px;
    width: 50px;
    border: none;
}